[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zy117
[access "refs/for/refs/*"]
	read = group user/zy117
	push = group user/zy117
	label-Code-Review = -2..+2 group user/zy117
	label-Verified = -1..+1 group user/zy117
	rebase = group user/zy117
	removeReviewer = group user/zy117
	submit = group user/zy117
[access "refs/heads/*"]
	read = group user/zy117
	create = group user/zy117
	push = +force group user/zy117
	pushMerge = group user/zy117
[access "refs/tags/*"]
	push = group user/zy117
	push = +force group user/zy117
